.groupFila {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  height: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
}

.fila {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
}

.resumen {
  background-color: #fcdea6;
}

.clubBorde {
  background-color: #7259ff;
}

.club {
  background-color: #8c79f8;
}

.casilla {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 1em;
  //height: auto;
  //width: 15vw;
  align-content: center;
  padding-top: 2vh;
}

.casilla img {
  width: 20vw;
}

.casilla p {
  margin: 0;
  font-size: calc(0.8em + 0.5vw);
  display: block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
