<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="primerMenu">

      </ion-menu-button>
    </ion-buttons>
    <ion-title>TOS Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="resumen">
    <ion-row >
    <ion-col size="4">
      <p>
        <b>
          <ion-icon name="football" style="zoom:2.0;" color="warning"></ion-icon>
  
          {{alineacion.ATAQUE}}
        </b>
      </p>
    </ion-col>
    <ion-col size="4">
      <p>
        <b>
          <ion-icon name="shield" style="zoom:2.0;" color="primary"></ion-icon>
  
          {{alineacion.DEFENSA}}
        </b>
      </p>
    </ion-col>
    <ion-col size="4">
      <p>
        <b>
          <ion-icon name="cash-outline" style="zoom:2.0;" color="success"></ion-icon>
  
          {{alineacion.GANANCIAS}}
        </b>
      </p>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    
    <ion-label>Aficion</ion-label>
    <ion-range   pin min="10" max="20" step="1" snaps="true" color="warning" [(ngModel)]="alineacion['AFICION']" (ionChange)="updateAficion()"  ></ion-range>
  <ion-badge slot="end" color="warning">{{alineacion['AFICION']}}</ion-badge>
  </ion-item>

<ion-grid class="clubBorde">
  <ion-row class="club">
    <ion-col size="3"></ion-col>
    <ion-col size="3" class="casilla">
      
        <img [src]="getImgPatrocinador('VALLA')" [routerLink]="['/patrocinadores','VALLA']"/>
        <p>{{alineacion['VALLA'].nombre}}</p>
      
    </ion-col>
    <ion-col size="3" class="casilla">
      
      <img [src]="getImgPatrocinador('TV')" [routerLink]="['/patrocinadores','TV']" />
      <p>{{alineacion['TV'].nombre}}</p>
  </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1" class="casilla"></ion-col>
    <ion-col size="3" class="casilla">
  <img [src]="getImgEmpleado('AGENTE')" [routerLink]="['/empleados','AGENTE']" />
  <p>{{alineacion['AGENTE'].nombre}}</p>
</ion-col>
<ion-col size="3"class="casilla">
  <img [src]="getImgEmpleado('OJEADOR')" [routerLink]="['/empleados','OJEADOR']" />
  <p>{{alineacion['OJEADOR'].nombre}}</p>
</ion-col>
<ion-col size="3" class="casilla">
  <img [src]="getImgEmpleado('CM')" [routerLink]="['/empleados','CM']" />
  <p>{{alineacion['CM'].nombre}}</p>
</ion-col>
<ion-col size="1" class="casilla"></ion-col>
</ion-row>
</ion-grid>
  


</ion-content>
