<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ posicion | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let entrenador of entrenadores" class="{{entrenador.mazo}}">
      <ion-avatar slot="start" (click)="entrenadorSeleccionado(entrenador.id)" >
        <img src="assets/images/entrenadores/{{entrenador.id}}.jpg" />
      </ion-avatar>

      <ion-label (click)="entrenadorSeleccionado(entrenador.id)">
        <h2>{{entrenador.nombre}}</h2>
        <p> <ion-badge class="{{entrenador.mazo}}">{{entrenador.mazo | translate}}</ion-badge></p>
      </ion-label>
      <ion-icon *ngIf="alineacion[posicion].id === entrenador.id" slot="end" name="refresh-circle" style="color:rgb(0, 132, 255)" 
      size="large" (click)="sendBanquillo(entrenador.id)"></ion-icon>
      <ion-icon
        *ngIf="alineacion[posicion].id === entrenador.id"
        slot="end"
        name="close-circle"
        style="color:red"
        size="large"
        (click)="removeJugador(entrenador.id)"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
