<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>TOS Calculator</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container" *ngIf="isData">
    <div class="fila">
      <div class="marcador">
        <p>
          <b>
            <ion-icon
              name="football"
              style="zoom:2.0;"
              color="warning"
            ></ion-icon>

            {{alineacion.ATAQUE}}
          </b>
        </p>
      </div>
      <div class="marcador">
        <p>
          <b>
            <ion-icon
              name="shield"
              style="zoom:2.0;"
              color="primary"
            ></ion-icon>

            {{alineacion.DEFENSA}}
          </b>
        </p>
      </div>
      <div class="marcador">
        <p>
          <b>
            <ion-icon
              name="cash-outline"
              style="zoom:2.0;"
              color="success"
            ></ion-icon>

            {{alineacion.GANANCIAS}}
          </b>
        </p>
      </div>
    </div>

    <div class="fila">
      <div class="jugador"></div>
      <div class="jugador">
        <img
          [src]="getImgJugador('DELANTERO_IZQUIERDO')"
          [routerLink]="['/jugadores','DELANTERO_IZQUIERDO']"
        />
        <p>{{ alineacion['DELANTERO_IZQUIERDO'].nombre }}</p>
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('DELANTERO_DERECHO')"
          [routerLink]="['/jugadores','DELANTERO_DERECHO']"
        />
        <p>{{ alineacion['DELANTERO_DERECHO'].nombre }}</p>
      </div>
      <div class="jugador"></div>
    </div>

    <div class="fila">
      <div class="jugador">
        <img
          [src]="getImgJugador('EXTREMO_IZQUIERDO')"
          [routerLink]="['/jugadores','EXTREMO_IZQUIERDO']"
        />
        <p>{{ alineacion['EXTREMO_IZQUIERDO'].nombre }}</p>
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('CENTRO_IZQUIERDO')"
          [routerLink]="['/jugadores','CENTRO_IZQUIERDO']"
        />
        <p>{{ alineacion['CENTRO_IZQUIERDO'].nombre }}</p>
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('CENTRO_DERECHO')"
          [routerLink]="['/jugadores','CENTRO_DERECHO']"
        />
        <p>{{ alineacion['CENTRO_DERECHO'].nombre }}</p>
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('EXTREMO_DERECHO')"
          [routerLink]="['/jugadores','EXTREMO_DERECHO']"
        />
        <p>{{ alineacion['EXTREMO_DERECHO'].nombre }}</p>
      </div>
    </div>
    <div class="fila">
      <div class="jugador">
        <img
          [src]="getImgJugador('LATERAL_IZQUIERDO')"
          [routerLink]="['/jugadores','LATERAL_IZQUIERDO']"
        />
        <p>{{ alineacion['LATERAL_IZQUIERDO'].nombre }}</p>
      </div>
      <div class="jugador">
        <img
          [src]="getImgJugador('DEFENSA_IZQUIERDO')"
          [routerLink]="['/jugadores','DEFENSA_IZQUIERDO']"
        />
        <p>{{ alineacion['DEFENSA_IZQUIERDO'].nombre }}</p>
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('DEFENSA_DERECHO')"
          [routerLink]="['/jugadores','DEFENSA_DERECHO']"
        />
        <p>{{ alineacion['DEFENSA_DERECHO'].nombre }}</p>
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('LATERAL_DERECHO')"
          [routerLink]="['/jugadores','LATERAL_DERECHO']"
        />
        <p>{{ alineacion['LATERAL_DERECHO'].nombre }}</p>
      </div>
    </div>
    <div class="fila">
      <div class="jugador"></div>
      <div class="jugador">
        <img
          [src]="getImgJugador('PORTERO')"
          [routerLink]="['/jugadores','PORTERO']"
        />
        <p>{{alineacion['PORTERO'].nombre}}</p>
      </div>
      <div class="jugador"></div>
    </div>

    <div class="fila">
      <div class="jugador">
        <img
          [src]="getImgEntrenador('COACH1')"
          [routerLink]="['/entrenadores', 'COACH1']"
        />
        <p>{{alineacion['COACH1'].nombre}}</p>
      </div>

      <div class="jugador">
        <img
          [src]="getImgEntrenador('COACH2')"
          [routerLink]="['/entrenadores','COACH2']"
        />
        <p>{{alineacion['COACH2'].nombre}}</p>
      </div>

      <div class="jugador">
        <img
          [src]="getImgEntrenador('COACH3')"
          [routerLink]="['/entrenadores','COACH3']"
        />
        <p>{{alineacion['COACH3'].nombre}}</p>
      </div>
    </div>
  </div>
</ion-content>
