<ion-content>
  <div class="container" *ngIf="isData">
    <div class="fila">
      <div class="jugador"></div>
      <div class="jugador">
        <img
          [src]="getImgJugador('DELANTERO_IZQUIERDO')"
          [routerLink]="['/jugadores','DELANTERO_IZQUIERDO']"
        />
        {{ alineacion['DELANTERO_IZQUIERDO'].nombre }}
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('DELANTERO_DERECHO')"
          [routerLink]="['/jugadores','DELANTERO_DERECHO']"
        />
        {{ alineacion['DELANTERO_DERECHO'].nombre }}
      </div>
      <div class="jugador"></div>
    </div>

    <div class="fila">
      <div class="jugador">
        <img
          [src]="getImgJugador('EXTREMO_IZQUIERDO')"
          [routerLink]="['/jugadores','EXTREMO_IZQUIERDO']"
        />
        {{ alineacion['EXTREMO_IZQUIERDO'].nombre }}
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('CENTRO_IZQUIERDO')"
          [routerLink]="['/jugadores','CENTRO_IZQUIERDO']"
        />
        {{ alineacion['CENTRO_IZQUIERDO'].nombre }}
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('CENTRO_DERECHO')"
          [routerLink]="['/jugadores','CENTRO_DERECHO']"
        />
        {{ alineacion['CENTRO_DERECHO'].nombre }}
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('EXTREMO_DERECHO')"
          [routerLink]="['/jugadores','EXTREMO_DERECHO']"
        />
        {{ alineacion['EXTREMO_DERECHO'].nombre }}
      </div>
    </div>
    <div class="fila">
      <div class="jugador">
        <img
          [src]="getImgJugador('LATERAL_IZQUIERDO')"
          [routerLink]="['/jugadores','LATERAL_IZQUIERDO']"
        />
        {{ alineacion['LATERAL_IZQUIERDO'].nombre }}
      </div>
      <div class="jugador">
        <img
          [src]="getImgJugador('DEFENSA_IZQUIERDO')"
          [routerLink]="['/jugadores','DEFENSA_IZQUIERDO']"
        />
        {{ alineacion['DEFENSA_IZQUIERDO'].nombre }}
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('DEFENSA_DERECHO')"
          [routerLink]="['/jugadores','DEFENSA_DERECHO']"
        />
        {{ alineacion['DEFENSA_DERECHO'].nombre }}
      </div>

      <div class="jugador">
        <img
          [src]="getImgJugador('LATERAL_DERECHO')"
          [routerLink]="['/jugadores','LATERAL_DERECHO']"
        />
        {{ alineacion['LATERAL_DERECHO'].nombre }}
      </div>
    </div>
    <div class="fila">
      <div class="jugador"></div>
      <div class="jugador">
        <img
          [src]="getImgJugador('PORTERO')"
          [routerLink]="['/jugadores','PORTERO']"
        />
        {{alineacion['PORTERO'].nombre}}
      </div>
      <div class="jugador"></div>
    </div>

    <div class="fila">
      <div class="jugador">
        <img
          [src]="getImgEntrenador('COACH1')"
          [routerLink]="['/entrenadores', 'COACH1']"
        />
        {{alineacion['COACH1'].nombre}}
      </div>

      <div class="jugador">
        <img
          [src]="getImgEntrenador('COACH2')"
          [routerLink]="['/entrenadores','COACH2']"
        />
        {{alineacion['COACH2'].nombre}}
      </div>

      <div class="jugador">
        <img
          [src]="getImgEntrenador('COACH3')"
          [routerLink]="['/entrenadores','COACH3']"
        />
        {{alineacion['COACH3'].nombre}}
      </div>
    </div>

    <div class="fila">
      <div class="marcador">
        <b
          ><ion-icon
            name="football"
            style="zoom:3.0;"
            color="warning"
          ></ion-icon
        ></b>
        {{alineacion.ATAQUE}}
      </div>
      <div class="marcador">
        <b
          ><ion-icon name="shield" style="zoom:3.0;" color="primary"></ion-icon
        ></b>
        {{alineacion.DEFENSA}}
      </div>
      <div class="marcador">
        <b>
          <ion-icon
            name="cash-outline"
            style="zoom:3.0;"
            color="success"
          ></ion-icon
        ></b>
        {{alineacion.GANANCIAS}}
      </div>
    </div>
  </div>
</ion-content>
