/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'Tertre';
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/tertre-xbol.otf');
  }

  @font-face {
    font-family: 'Star';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/STARBATS.ttf');
  }

  html *
{
   font-family: 'Tertre' !important;
}

.MAZO1 {
    background-color: rgb(172, 189, 22);
}

.MAZO2 {
  background-color: rgb(177, 28, 190);
}

.MAZO3 {
  background-color: rgb(44, 193, 204);
}

.MAZO4 {
  background-color: rgb(18, 151, 0);
}

.ALTSTR {
  background-color: rgb(216, 128, 13);
}

ion-avatar {
  --border-radius: 4px;
}

h2 {
  //font-size: large !important;
  font-size: 2.2dvh !important;
}

ion-badge {
  font-size: medium;
}

ion-title {
  font-size: 2.5dvh !important;
}