<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{posicion}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let jugador of jugadores">
      <ion-avatar slot="start" (click)="jugadorSeleccionado(jugador.id)">
        <img src="assets/images/jugadores/{{jugador.id}}.jpg" />
      </ion-avatar>

      <ion-label (click)="jugadorSeleccionado(jugador.id)">
        <h2>{{jugador.nombre}}</h2>
        <p>{{jugador.mazo}}</p>
      </ion-label>

      <ion-icon
        *ngIf="alineacion[posicion].id === jugador.id"
        slot="end"
        name="close-circle"
        style="color:red"
        (click)="removeJugador(jugador.id)"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
